<!-- Template der userinfo Komponente -->
<div class="userinfo">
    <!-- Interpolation ds user.firstname und user.lastname  -->
    <h1>Hallo <b>{{$ctrl.user.firstname }} {{$ctrl.user.lastname}}</b>, viel Spa&szlig; beim chatten. </h1>
    <!-- Interpolation des user.birthday mit date Filter -->
    <p ng-if="$ctrl.user.birthday">{{$ctrl.user.birthday | date}}</p>
</div>

