<!-- Template der Chatheader Komponente  -->
<div class="container-fluid chatviewheader">
    <div class="chatviewtitle"><b>Chat App</b></div>
    <div class="chatviewlogout">
        <!-- ng-link wechsel zur Route /logout, ng-click Event -->
        <a ng-link="/logout" ng-click="$ctrl.logout()">Logout</a>
    </div>
</div>
