<!-- Template der chat Komponente  -->
<div class="container-fluid chatcontainer">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- userinfo Komponente mit Property Binding der currentUserData an user -->
                    <userinfo user="$ctrl.currentUserData"></userinfo>
                </div>
                <div class="panel-body messagepanel" id="messagepanel" scroll-to-bottom="$ctrl.messages">
                    <!-- message Komponente, Iteration über messages mit ng-repeat Direktive,
                    Property Binding der message an msg -->
                    <message ng-repeat="message in $ctrl.messages track by $id(message)" msg="message" ></message>
                </div>
                <div class="panel-footer">
                    <!-- messageinput Komponente  -->
                    <messageinput></messageinput>
                </div>
            </div>

            <div class="col-md-1"></div>
        </div>

    </div>

</div>