<!-- Template der Messageinput Komponente -->
<div class="row messageinput">
    <div class="col-md-11">
        <!-- input mit two-way Data Binding über ng-model Direktive, ng-keyup event -->
        <input id="newmessageinput" ng-model="$ctrl.newmessage" class="form-control" ng-keyup="$ctrl.sendNewMessage($event)">
    </div>
    <div class="col-md-1">
        <!-- Button mit ng-click Event -->
        <button type="button" ng-click="$ctrl.sendNewMessage()" class="btn btn-default">
            <span class="glyphicon glyphicon-send" ></span>
        </button>
    </div>
</div>