<!-- Template der Login Komponente  -->
<div class="login">
    <p>Einloggen um die Chat App zu verwenden</p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="loginEmail">Email: </label>
        </div>
        <div class="col-md-4">
            <!-- input mit two-way Data Binding über ng-model Direktive -->
            <input type="text" ng-model="$ctrl.login.email" id="loginEmail" class="form-control">
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="loginPassword">Passwort: </label>
        </div>
        <div class="col-md-4">
            <!-- input mit two-way Data Binding über ng-model Direktive -->
            <input type="password" ng-model="$ctrl.login.password" id="loginPassword" class="form-control">
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <!-- Button mit ng-click Event -->
            <input type="button" class="btn btn-default" value="Login" ng-click="$ctrl.loginUser()" >
        </div>
        <div class="col-md-2"></div>


    </div>
</div>
