<!-- Template der Register Komponente  -->
<div class="register">
    <p>Registrieren um die Chat App zu verwenden</p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="registerfirstname">Firstname: </label>
        </div>
        <div class="col-md-4">
            <!-- input mit two-way Data Binding über ng-model Direktive -->
            <input type="text" id="registerfirstname" ng-model="$ctrl.user.firstname" class="form-control" required>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="registerlastname">Lastname: </label>
        </div>
        <div class="col-md-4">
            <!-- input mit two-way Data Binding über ng-model Direktive -->
            <input type="text" id="registerlastname" ng-model="$ctrl.user.lastname" class="form-control" required>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="registeremail">Email: </label>
        </div>
        <div class="col-md-4">
            <!-- input mit two-way Data Binding über ng-model Direktive -->
            <input type="email" id="registeremail" ng-model="$ctrl.user.email" class="form-control" required>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="registerbirthday">Birthday: </label>
        </div>
        <div class="col-md-4">
            <!-- input mit two-way Data Binding über ng-model Direktive -->
            <input type="date" id="registerbirthday" ng-model="$ctrl.user.birthday" class="form-control" required>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="registerpassword">Password: </label>
        </div>
        <div class="col-md-4">
            <!-- input mit two-way Data Binding über ng-model Direktive -->
            <input type="password" id="registerpassword" ng-model="$ctrl.user.password" class="form-control" required>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8"></div>
        <!-- Button mit ng-click Event -->
        <div class="col-md-2"><input type="button" value="Register" ng-click="$ctrl.registerUser()" class="btn btn-default"></div>
        <div class="col-md-2"></div>
    </div>
</div>
