<!-- Template der Message Komponente -->
<div>
    <div class="row">
        <div class="col-md-2" ng-if="$ctrl.isUsersMessage"></div>
        <div class="col-md-10">
            <!-- class Binding  -->
            <div class="panel messageitem" ng-class="{usersMessage: $ctrl.isUsersMessage}">
                <div class="panel-body">
                    <!-- Interpolation des messageUser.firstname und messageUser.lastname -->
                    <span><b>{{$ctrl.messageUser.firstname}} {{$ctrl.messageUser.lastname}}</b></span>
                    <!-- Interpolation des msg.timestamp mit date Filter  -->
                    <span class="messagetime"><i>{{$ctrl.msg.timestamp | date}}</i></span>
                    <p>{{$ctrl.msg.content}}</p>
                </div>
            </div>

        </div>
        <div class="col-md-2" ng-if="$ctrl.isUsersMessage === false"></div>
    </div>

</div>
