<!-- Login View mit loginViewCtrl -->
<div  class="container-fluid logincontainer" ng-controller="loginViewCtrl">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="page-header">
                <h2>Herzlich Willkommen in der Chat App!!! </h2>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>


    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-if="loginView">Login</h3>
                    <h3 class="panel-title" ng-if="loginView === false">Register</h3>
                </div>

                <div class="panel-body">
                    <!-- Version 1 der bedingten Darstellung mit ng-if Direktive -->
                    <login ng-if="loginView"></login>
                    <register ng-if="loginView === false"></register>
                </div>
                <!-- Version 2 der bedingten Darstellung mit ng-switch Direktive-->
                <!--
                <div class="panel-body" ng-switch="loginView">
                    <div ng-switch-default>LoginView kann nicht geladen werden</div>
                    <login ng-switch-when="true"></login>
                    <register ng-switch-when="false"></register>
                </div>
                -->
                <div class="panel-footer">
                    <p ng-if="loginView" ng-click="changeLogin()" class="panelFooter">Registrieren</p>
                    <p ng-if="loginView === false" ng-click="changeLogin()" class="panelFooter">zur&uuml;ck zum Login</p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>


    </div>
</div>